@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


h3{
  font-family: 'Montserrat', sans-serif;
}

.w3-xxlarge {
    font-size: 68px!important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 75px;
    font-weight: 700;
}

p {

	font-family: 'Open Sans', sans-serif;
}

#color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.6;
}

#byline {

    margin-top: 25px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    padding-bottom: 10px;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: white;
    padding-top: 10px;
  }


@media screen and (min-width: 1900px) {
  #textheader {
    width: 75%;
  }
}


@media screen and (max-width:1025px) { 


.w3-xxlarge {
    font-size: 32px!important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 33px;
    font-weight: 700;
}


 }



@media screen and (max-width:1000px) { 


.w3-xxlarge {
    font-size: 32px!important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 33px;
    font-weight: 700;
}

#textheader {
  display: none;
}
#gauge  {
  display: none;
}

 }


#textheader{

  margin: auto;

}

.text {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

.w3-display-middle {
    top: 40%;
  }


/* size of containers */


#treemap {

 height: 450px; 

} 

#bar {

 height: 500px; 

} 

#ohio{
  height: 700px;

}



#mylegend {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px; 
}

#levelcontrol{

  margin-top: 15px;
}

#level{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

.datasource {

  margin-top: 15px;
  
  
}


#mylegend {
    display: block;
    width: 50%;
    padding: 0;
    line-height: inherit;
    color: #333;
    /* border: 0; */
    border-bottom: 0px;
}

#notes{

      padding-left: 10px;
}