@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


h1#logo {
	margin-top: 50px;
}

.w3-xxlarge {
    font-size: 75px!important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 75px;
    font-weight: 700;
}

p {

	font-family: 'Open Sans', sans-serif;
}

#color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.6;
}

#byline {

    margin-top: 25px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    padding-bottom: 10px;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: white;
    padding-top: 10px;
  }


@media screen and (min-width: 1900px) {
  #textheader {
    width: 75%;
  }
}


@media screen and (max-width:1025px) { 


.w3-xxlarge {
    font-size: 32px!important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 33px;
    font-weight: 700;
}


 }



@media screen and (max-width:1000px) { 


.w3-xxlarge {
    font-size: 32px!important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 33px;
    font-weight: 700;
}

#textheader {
  display: none;
}
#gauge  {
  display: none;
}

 }





#textheader{

  margin: auto;

}

.container {
  margin: auto;
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}