@import url('https://fonts.googleapis.com/css?family=Montserrat:700');



h1#logo {
	margin-top: 50px;
}

.w3-xxlarge {
    font-size: 75px!important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 75px;
    font-weight: 700;
}